html {
    font-family: 'Helvetica Neue';
}

body {
    margin: 0;
    background: black;
    color: white;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: -3%;
    position: relative;
}

.box {
    position: relative; /* Ensure relative positioning */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

#imageText {
    display: block;
    font-size: 3vh;
    color: #F3CE32;
    margin-top: -5.5vh; /* Push to the bottom */
    font-weight: bold;
    text-align: center;
}

.box img {
    background: #1D282C;
    display: flex;
    width: 77.5vw;
    border-radius: 4vw;
    border: 1.5px solid yellow; /* Add !important to ensure priority */
    margin: 0 auto;
    margin-top: -7vh;
}


#arrow1, #arrow2 {
    width: 65%;
    position: relative;
    display: flex;
    margin: 0 auto;
}



#prevBtn {
    transform: rotate(180deg);
}

button {
    background: none;
    border: none;
        font-family: 'HelveticaNeue-Light';
}

button:hover {
    cursor: pointer;
}

.arrow {
    text-align: center;
    display: flex;
    margin: 0 auto;
}

#arrow1{
    position: relative;
    left: 0vw;
}

#arrow2{
    position: relative;
    left: 0vw;
}

.comments {
/*    font-family: 'HelveticaNeue-Light';*/
    color: #F3CE32;
    position: absolute;
    top: 4%;
    left: 90%;
/*    padding-top: .3vh;*/
    padding-bottom: .8vh;
    padding-left: .8vw;
    align-content: center;
    padding-right: .8vw;
    font-size: 3.75vh;
    border-radius: 50%;
    border: 1px solid #F3CE32;
}
