html {
    font-family: 'Helvetica Neue';
}

body{
    margin: 0;
}

.body{
    display: flex;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
}

.nav{
    padding-top: 1vh;
    padding-left: 1.8vh;
    padding-right: 3vh;
    padding-bottom: 1vh;
    padding-bottom: 1vh;
    height: 100vh;
    font-size: 3vh;
    background: #D9D9D9;
    border-right: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

#play a {
    padding-left: 1vh;
    padding-right: 1vh;
    margin-left: -1vh;
   color: #D9D9D9; 
   background: black;
    border-radius: 2em;
    border: 1px solid black;
}

.box {
    background: #D9D9D9;
    width: 80%;
    border-radius: 4.5em;
    padding: 2.75em;
    margin-left: 4vw;
    border: 1px solid black

}

.circle {
    background-color: #FF1818;
    border-radius: 50%;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    margin-right: 1vw;
}

.header {
    display: flex;
    margin-bottom: 2vh;
}

.question {
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 2vh;
}

.info{
    display: block;
    vertical-align: center;
    align-items: center; 
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5vh;
}

.sub{
    font-size: 3vh;
}

#arrow{
    transform: rotate(-90deg);
    width: 35%; 
    margin-left: -2vw;
}

.arrow{
    text-align: right;
    margin-right: 1vw;
}






