html {
    font-family: 'Helvetica Neue';
}

body{
    visibility: hidden;
}

@media only screen and (max-width: 390px){


body {
    visibility: visible;
    margin: 0;
    color: white;
    background: #69B7C1;
}

.body {
}

.id{
    display: flex;
    justify-content: space-between;
    font-size: 9vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 7vh;
}

.arrow1{
    transform: scale(.45);
    position: relative;
    top: vh;
    text-align: center;
}

.mid{
    display: flex;
    margin-left: -6vw;
}

.menu{
    display: flex;
    font-family: Inter;
    font-size: 6vw;
/*    font-weight: bold;*/
    letter-spacing: .6vw;
    position: relative;
    left: -2vw;
}

.arrow, .arrows {
    display: flex;
}

.box {
    display: block;
    align-items: center;
}

.box img {
    display: flex;
    width: 85vw;
    border-radius: 4vw;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 5vh;
}

#imageText{
    display: block;
    margin-left: 7vw;
}

.song {
    font-size: 8vw;
    font-weight: bold;
    margin-bottom: .5vh;
/*    overflow: hidden;*/
    white-space: nowrap;
    position: relative;
    max-width: 82vw;
}

.beforesong{
    position: absolute;
    top: 55%;
    right: 0;
    bottom: 0;
    z-index: 100;
    left: 85%;
    height: 10vh;
    width: 100%;
    background: linear-gradient(to right, transparent 0%, #69B7C1 10%);
}

.artist{
  font-size: 5vw;
  margin-bottom: 5vh;
  font-family: 'HelveticaNeue-Light';
}


.buttons{
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}

#nextBtn {
    transform: rotate(180deg);
}

#play{
    transform: scale(.6);
}

.arrows{
     transform: scale(.45);
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.time {
    position: relative;
    width: 85vw;
    background: #D9D9D9;
    height: 2.5vw;
    display: block;
    margin: 0 auto;
    border-radius: 12vw;
}

.dot {
    display: flex;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
    position: absolute;
    top: 69.8%;
    left: 0;
    margin-left: 7vw; /* Adjust the margin as needed */
    z-index: 1; /* Set a higher z-index to appear on top */
}

.duration {
    display: flex;
    margin-left: 8vw;
    margin-right: 8vw;
    justify-content: space-between;
    margin-bottom: 3vh;
    margin-top: 2vh;
    font-family: 'HelveticaNeue-Light';
}

}

